/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #0a53be;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
